i {
  color: gray;
  font-size: 20px;
  padding-bottom: 5px;
}

.task-name {
  font-size: 35px;
  font-weight: bold;
  padding: 4px;
}


.tick {
  color:green;
  font-size: 20px;
}

.cross {
  color: red;
  font-size: 20px;
}

.input-field {
  padding: 3px;
}

.input-border {
  transition: 2s;
  border-radius: 6px;
  border: 3px solid lightblue;
  width: 200px;
  height: 20px;
}

.submit-button-area {
  padding-top: 5px;
}

.submit-button {
  padding: 5px;
  border-radius: 5px;
  border-width: 2px;
  border-color: gray;
  color: black;
  background: white;
  box-shadow: 5px 4px 3px lightgray;
}
