$blackShadow: rgba(0, 0, 0, 0.2);
$whiteShadow: rgba(255, 255, 255, 0.7);

.inputField{
    padding: 5px;
}

.inputBorder {
    border-width: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 6px $blackShadow, -5px -4px 6px $whiteShadow;
}
